src/tests/if/build/workflow.sfn.json
{
    "StartAt": "env_init",
    "States": {
        "env_init": {
            "Type": "Pass",
            "InputPath": "$",
            "Parameters": {
                "env": {
                    "operation.$": "$.operation",
                    "data.$": "$.data"
                }
            },
            "Next": "workflow_func_1"
        },
        "workflow_func_1": {
            "Type": "Task",
            "Next": "choice",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:workflow-func-1",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$"
        },
        "choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.env.test_1",
                    "BooleanEquals": true,
                    "Next": "sort"
                }
            ],
            "Default": "workflow_func_2"
        },
        "sort": {
            "Type": "Task",
            "Next": "exit_pass",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:sort",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$.env.result"
        },
        "workflow_func_2": {
            "Type": "Task",
            "Next": "exit_pass",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:workflow-func-2",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$"
        },
        "exit_pass": {
            "Type": "Pass",
            "InputPath": "$.env.result",
            "End": true
        }
    }
}