src/tests/break/build/loopWorkflow.sfn.json
{
    "StartAt": "env_init",
    "States": {
        "env_init": {
            "Type": "Pass",
            "InputPath": "$",
            "Parameters": {
                "env": {
                    "arg.$": "$.arg"
                }
            },
            "Next": "loopWorkflow_func_1"
        },
        "loopWorkflow_func_1": {
            "Type": "Task",
            "Next": "loopWorkflow_func_2",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:loopWorkflow-func-1",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$"
        },
        "loopWorkflow_func_2": {
            "Type": "Task",
            "Next": "choice",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:loopWorkflow-func-2",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$"
        },
        "choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.env.test_2",
                    "BooleanEquals": true,
                    "Next": "break"
                }
            ],
            "Default": "doStuff"
        },
        "break": {
            "Type": "Pass",
            "Next": "loop_end"
        },
        "doStuff": {
            "Type": "Task",
            "Next": "loopWorkflow_func_3",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:doStuff",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$.env.call_1"
        },
        "loopWorkflow_func_3": {
            "Type": "Task",
            "Next": "choice_1",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:loopWorkflow-func-3",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$"
        },
        "choice_1": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.env.test_4",
                    "BooleanEquals": true,
                    "Next": "loopWorkflow_func_4"
                }
            ],
            "Default": "loopWorkflow_func_2"
        },
        "loopWorkflow_func_4": {
            "Type": "Task",
            "Next": "choice_2",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:loopWorkflow-func-4",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$"
        },
        "choice_2": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.env.test_3",
                    "BooleanEquals": true,
                    "Next": "break_1"
                }
            ],
            "Default": "loopWorkflow_func_5"
        },
        "break_1": {
            "Type": "Pass",
            "Next": "loop_end"
        },
        "loopWorkflow_func_5": {
            "Type": "Task",
            "Next": "loopWorkflow_func_2",
            "Resource": "arn:aws:lambda:us-east-1:set_account_id_in_config:function:loopWorkflow-func-5",
            "InputPath": "$",
            "OutputPath": "$",
            "ResultPath": "$"
        },
        "loop_end": {
            "Type": "Pass",
            "End": true
        }
    }
}